* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	background-color: #222222;
    height: auto;
    min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f2f2;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font: 16px;
	line-height: 160%;
}


h1,
h2,
h3,
p,
pre,
ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 40px;
    color: #f2f2f2;
	line-height: 1;
	margin-bottom: 1em;
}

h2 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 24px;
    color: #222222;
	line-height: 1;
	margin-bottom: 1.2em;
}

h3 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 18px;
    color: #22222288;
	line-height: 1.6em;
	margin-bottom: 1.2em;
	padding-top: 0em;
}

.section h3:nth-child(2) {
	padding-top: 0em;
}

p,
pre,
ul {
	margin-bottom: 1.5em;
}

ul {
	margin-left: 1em;
}

#nav {
    background: #222222;
    left: 0;
    right: 0;
    top: 0;
    list-style: none;
    overflow: hidden;
    position: fixed;
    text-align: center;
	margin: 0;
	padding: 0px 30px;
	height: 72px;
}

#nav li {
    margin-bottom: 0;
	float: left;
	line-height: 72px;
}

#nav li #nav-home {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 24px;
	text-transform: none;
	letter-spacing: 0px;
	margin-top: 72px;
}

#nav .current #nav-home {
    color: #f2f2f2;
}

#nav.fixed {
	padding: 0px 20px;
	height: 56px;
}

#nav li.fixed {
	line-height: 56px;
}

#nav .fixed #nav-home {
	font-size: 18px;
	margin-top: 0px;
}

#nav a {
    background: none;
    color: #f2f2f2;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	padding: 0px 10px;
	text-decoration: none;
}

#nav a:hover {
    background: none;
	/* color: #bdf1f6; #11ABB0; */
	color: #bdf1f6;
}

#nav .current a {
    background: none;
    /* color: #bdf1f6; #11ABB0; */
	color: #bdf1f6;
}

#nav .nav-right {
    float: right;
}

.section {
	margin: 0 auto;
	width: 1000px;
	border-bottom: 5px solid #ccc;
	/* min-height: 40vh; */
	padding: 40px 30px;
}

.section p:last-child {
	margin-bottom: 0px;
}

.section-wrapper {
	background-clip: content-box;
	background-color: #f2f2f2;
    margin-top: -72px;
    padding-top: 72px;
}

.section-wrapper:first-child {
	background-color: #222222;
}

.section-wrapper:first-child .section {
	padding-top: 200px;
	border-bottom: none;
	color: #f2f2f2;
}

.profile-img {
	float: left;
	margin-right: 60px;
	width: 200px;
}

.profile-img img {
	display: block;
	width: 100%; 
	height: auto;
	border-radius: 5px;
}

.img-caption {
	font-size: 0.8em;
	text-align: center;
	margin-top: 5px;
}

.profile-text {
	overflow: hidden;
}

#section-3 .section {
	border-bottom: none;
}

.about {
	font-size: 18px;
	line-height: 1.5em;
}

.about a {
	color: #bdf1f6;
	text-decoration: none;
}

.about strong {
}

.contact {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5em;
	padding-bottom: 10px;
}

.contact a {
	color: #bdf1f6;
}

.hidden { display: none; }
.show-more { 
	cursor: pointer;
	text-decoration: underline;
}

.research-table-row {
	vertical-align: top;
}

.research-table-img {
	padding-bottom: 40px;
}

.research-table-txt {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:16px; line-height: 125%;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 40px;
}

.research-table-row:last-child .research-table-img,
.research-table-row:last-child .research-table-txt {
	padding-bottom: 0px;
}

.research-table-txt p {
	margin-bottom: 0.2em;
}

.research-table-txt a {
	color: #000000;
	background-color: #f5d86e66;
	margin: 0px 2px;
	padding: 0px 2px;
}

.research-thumbnail {
	border: 1px solid #222222;
	width: 320px;
}

.research-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.4em;
	padding-bottom: 0.5em;
}

.research-year {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	color: #777777;
	line-height: 1.3em;
	padding-bottom: 1.3em;
}

.research-caption {
	padding-bottom: 0.5em;
	line-height: 1.5em;
}

a.research-publication {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #000000;
	line-height: 1.5em;
	cursor: pointer;
	text-decoration: underline;
}

.news-item {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 0.2em;
}

.news-item .date {
	display: inline-block;
	width: 95px;
	font-weight: 700;
}

.news-item .contents {
	font-weight: 400;
}


.news-item .contents a {
	color: #000000;
}

.publication-full a {
	color: #000000;
	text-decoration: underline;
	background-color: #f5d86e66;
}

.publication-item {
	transition: background-color 0.5s;
	display: flex; /* This creates a flexbox layout */
	align-items: flex-start; /* Aligns items to the start of the flex direction (top, in this case) */
	margin-bottom: 20px; /* Optional: for some space between publication items */
}

.publication-thumbnail {
	flex-shrink: 0; /* Prevents the thumbnail from shrinking */
	width: 200px; /* Replace with the width you desire */
	margin-right: 25px; /* Optional: for some space between the image and the text */
}

.publication-thumbnail img {
	width: 100%; /* Makes sure the image takes the full width of its parent */
	height: auto; /* Ensures the image's aspect ratio is maintained */
	border: 1px solid #222222;
}

.publication-about {
	flex-grow: 1; /* Allows the text part to take the remaining space */
}


.publication-item .title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.publication-item .authors strong {
	font-weight: 700;
}

.publication-item .others {
	margin-right: 5px;
}

.publication-item a {
	margin-right: 5px;
	padding: 0px 2px;
	color: #000000;
	background-color: #f5d86e66;
}

.publication-item.highlight {
	background-color: #f5d86e66;
}

.award-item {
	margin-bottom: 1.5em;
}

.award-item .name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.award-item .year {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 15px;
	color: #777777;
}

.bottom {
	background: #ccc;
	color: #222222;
	height: 80px;
}

.bottom .credit {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	line-height: 1.3em;
	position: relative;
	top: 40%;
	margin: 0px;
}

#header-bg,
#footer-bg {
	position: fixed;
	left: 0;
    right: 0;
	height: 50%;
	z-index: -1;
}

#header-bg {
    top: 0;
	background-color: #222222;
}

#footer-bg {
    bottom: 0;
	background-color: #ccc;
}

/* Project page */
.project-container {
	padding-top: 56px;
}

.project-title {
	text-align: center;
	color: #000000;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

.project-authors table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.project-authors td {
	text-align: center;
}

.project-authors a {
    background: none;
	color: #325b97;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 0px 10px;
	text-decoration: none;
}

.project-authors a:hover {
	color: #669cec;
}

.project-affiliations table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.project-affiliations td {
    background: none;
    color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	padding: 0px 10px;
}

.project-source {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 500;
	padding-top: 1.5em;
}

.project-source a {
	text-align: center;
    background: none;
	color: #325b97;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	padding-left: 10px;
	text-decoration: none;
}

.project-source a:hover {
	color: #669cec;
}

.project-container .presentation-video {
	text-align: center;
}

.project-container .presentation-video video {
	width: 640px;
}

.project-container .content-images {
	text-align: center;
	background-color: white;
	border: 1px solid #222222;
}

.project-container .section:last-child {
	border-bottom: none;
}

.bibtex-container {
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
}

pre {
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: "Consolas", "Monaco", monospace;
}

.project-source .download-button {
	display: inline-flex;
	align-items: center;
	background-color: #325b97;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
}

.project-source .download-button:hover {
	background-color: #325b97bb;
	color: white;
}

.project-source .download-button .fas {
	margin-right: 10px;
}

.section iframe {
	width: 100%;
	max-width: 640px;
	aspect-ratio: 16/9;
	height: auto;
	margin: 0 auto;
	display: block;
}

@media only screen and (max-width: 1000px) {
	/* For mobile phones: */
	#nav {
		height: 54px;
	}

	#nav li {
		float: none;
		line-height: 54px;
	}
	
	#nav li #nav-home {
		font-size: 18px;
	}
	
	#nav a:hover,
	#nav .current a {
		background: none;
		color: #f2f2f2;
	}

	#nav .nav-right {
		display: none;
	}

	h1 {
		font-size: 36px;
	}

	.profile-img {
		display: none;
	}

	.publication-thumbnail {
		width: 100px;
	}
	
	.section-wrapper:first-child .section {
		padding-top: 100px;
		border-bottom: none;
		color: #f2f2f2;
	}
	
	.section {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}

	td .research-thumbnail {
		width: 240px;
	}

	.research-table-txt {
		padding-left: 30px;
		padding-right: 0px;
	}
	
	.research-table-row .research-table-img,
	.research-table-row:last-child .research-table-img {
		padding-bottom: 20px;
	}
	
	.project-container .content-images {
		width: 100% !important;
	}
}

@media only screen and (max-width: 700px) {
	
	td {
		display:inline-block;
		text-align: center;
        padding:5px;
        width:100%;
	}
	
	.research-table-txt {
		padding-left: 0px;
		padding-right: 0px;
	}

	h1 {
		font-size: 28px;
	}
	
	.project-container td {
		display:inline-block;
		text-align: left;
        padding:5px;
        width:100%;
	}

	.project-authors td,
	.project-affiliations td {
		text-align: center;
	}
	
	.project-container .presentation-video video {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {

	td .research-thumbnail {
		width: 100%;
	}
	
}